<ion-view>
    <ion-content overflow-scroll="true" class="background1" id="start-page">
        <div class="padding">
		
			<div ng-include="'templates/includes/top-ad.html'"></div>

            <div id="main-content">
                <h3 class="title">Om GolfQuis</h3>

                <p class="content" style="line-height: 24px;">
                    GolfQuis er en quiz med dig i centrum: Du får dit eget golf regel handicap, og kan hele tiden se, hvor meget du forbedrer dig. Du kan sammenligne dig med andre og udfordredine venner. Quiz'en er designet således, at det løbende er dig, der vælger dig egen sværhedsgrad: Jo mere du øver dig, desto bedre bliver du - ligesom på banen.
                </p>
            </div>
        </div>
		
    </ion-content>
	
</ion-view>