<ion-view>
    <ion-content overflow-scroll="true" class="background1" id="start-page">
        <div class="padding">
		
			<div ng-include="'templates/includes/top-ad.html'"></div>

            <div id="main-content" class="credits">
			
                <h3 class="title">Credits</h3>
				
				<table class="credits-container">
					<tr>
						<td>Idea</td>
						<th>
							<a ng-click="viewInBrowser('http://boolex.com')">Appicorn</a>
						</th>
					</tr>
					<tr>
						<td>Designed by:</td>
						<th>
							<a ng-click="viewInBrowser('http://boolex.com')">Appicorn</a>
						</th>
					</tr>
					<tr>
						<td>Developed by:</td>
						<th>
							<a ng-click="viewInBrowser('http://boolex.com')" style="text-decoration: underline;">Boolex.com</a>
						</th>
					</tr>
				</table>
				
            </div>
        </div>
		
    </ion-content>
	
</ion-view>