<ion-view>
    <ion-content overflow-scroll="true" class="background0" id="start-page">
        <div class="padding">
            <div class="row">
                <div class="col" id="top-sponsor">
                    <img ng-src="images/sponsor/sponsor-top-large.png" alt="Alternate Text" />
                </div>
            </div>

            <div id="main-content" class="credits">
			
				<table>
					<tr>
						<td>Idea</td>
						<th>
							<a ng-click="viewInBrowser('http://boolex.com')">Appicorn</a>
						</th>
					</tr>
					<tr>
						<td>Designed by:</td>
						<th>
							<a ng-click="viewInBrowser('http://boolex.com')">Appicorn</a>
						</th>
					</tr>
					<tr>
						<td>Developed by:</td>
						<th>
							<a ng-click="viewInBrowser('http://boolex.com')" style="text-decoration: underline;">Boolex.com</a>
						</th>
					</tr>
				</table>
				
            </div>
        </div>
		
		<div style="margin-bottom: 110px;">&nbsp;</div>
	
    </ion-content>
	
	<img ng-src="images/start-bottom-image-1.png" class="foreground-image" />
	
</ion-view>