<ion-view>
    <ion-content overflow-scroll="true" id="start-page" class="background2">
	
        <div class="padding">
			<ul class="list">
				<li class="item item-divider">
					Profile
				</li>
				<li class="item" ng-click="viewProfile()">
					View Profile
				</li>
				<li class="item" ng-click="resetProfile()">
					Reset Profile
				</li>
				<li class="item" ng-click="removeProfile()">
					Remove Profile
				</li>
				<li class="item" ng-click="setDummyProfile()">
					Set Dummy Profile
				</li>
			</ul>
		</div>
		
	</ion-content>
<ion-view>