<ion-view>
    <ion-content overflow-scroll="true" class="background1" id="start-page">
        <div class="padding">
		
			<div ng-include="'templates/includes/top-ad.html'"></div>
			
            <div id="main-content" class="padding">
                <h3 class="title">{{ 'GOLF_HANDICAP_TITLE' | translate }}</h3>

                <div class="handicap padding">
                    <div ng-bind-html="'GOLF_HANDICAP_PARAGRAPH_1' | translate"></div>

                    <img src="images/calculation.png" alt="Alternate Text" style="display: block; width: 100%; margin-top: 5px; max-width: 450px;"/>

                    <div ng-bind-html="'GOLF_HANDICAP_PARAGRAPH_2' | translate"></div>
                    
                </div>
            </div>
        </div>
		
    </ion-content>
	
</ion-view>