<ion-view>
    <ion-content overflow-scroll="true" id="start-page" class="background4">
        <div class="padding">
		
			<div ng-include="'templates/includes/top-ad.html'"></div>

            <div id="main-content" class="padding ">
                <h3 class="title">Log In</h3>

				<div class="log-in-container big-padding">
					
					<a href="#" class="button button-block level-button facebook-login" ng-click="facebookLogin()">
						Log in med Facebook
					</a>
					
					<p>Log in Med email</p>
					
					<div class="list list-inset">
						<label class="item item-input">
							<i class="icon ion-ios-email-outline placeholder-icon"></i>
							<input type="email" placeholder="email eller brugernavn">
						</label>
					</div>
					<div class="list list-inset">
						<label class="item item-input">
							<i class="icon ion-locked placeholder-icon"></i>
							<input type="password" placeholder="Kordeord">
						</label>
					</div>

					<a href="#" class="button button-block level-button email-login" ui-sref="app.login-register">
						Log in Med Email
					</a>
					
					<a href="#">Glemt brugernavn eller kodeord?</a>
					
				</div>
				
            </div>
        </div>
		
    </ion-content>
	
</ion-view>
