<ion-view>
    <ion-content overflow-scroll="true" id="start-page" class="background0">
        <div class="padding">
		
            <div class="row">
                <div class="col" id="top-sponsor">
                    <img ng-src="images/sponsor/sponsor-top-large.png" alt="Alternate Text" />
                </div>
            </div>
			
            <div id="main-content" class="padding">
                <h3 class="title">Register</h3>

                <div class="list list-inset" style="background-color: transparent !important;">
                    <label class="item item-input" ng-class="nameError ? 'item-assertive' : ''" style="margin-bottom: 10px;">
                        <input type="text" placeholder="Navn" ng-model="registrationForm.name">
                    </label>
                    <label class="item item-input" ng-class="emailError ? 'item-assertive' : ''" style="margin-bottom: 10px;">
                        <input type="text" placeholder="E-mail" ng-model="registrationForm.email">
                    </label>
                    <label class="item item-input" ng-class="{ 'item-assertive': (registrationForm.email != registrationForm.emailConfirm && registrationForm.emailConfirm != null) || emailConfirmError }" style="margin-bottom: 10px;">
                        <input type="text" placeholder="Bekræft E-mail" ng-model="registrationForm.emailConfirm">
                    </label>
                    <label class="item item-input" ng-class="passwordError ? 'item-assertive' : ''" style="margin-bottom: 10px;">
                        <input type="password" placeholder="Adgangskode" ng-model="registrationForm.password">
                    </label>
                    <label class="item item-input" ng-class="{ 'item-assertive': (registrationForm.password != registrationForm.passwordConfirm && registrationForm.passwordConfirm != null) || passwordConfirmError }" style="margin-bottom: 10px;">
                        <input type="password" placeholder="Bekræft kode" ng-model="registrationForm.passwordConfirm">
                    </label>
                </div>
				
                <button class="button button-block button-positive" ng-click="validateInput()">Submit</button>
            </div>
        </div>
		
		<div style="margin-bottom: 110px;">&nbsp;</div>
	
    </ion-content>
	
	<img ng-src="images/start-bottom-image-4.png" class="foreground-image" />
	
</ion-view>
