<ion-view cache-view="false">
    <ion-content overflow-scroll="true" id="start-page" class="background3">
        <div class="padding">
		
			<div ng-include="'templates/includes/top-ad.html'"></div>

            <div id="main-content" class="profile">
			
                <h3 class="title">{{ 'PERSONAL_PROFILE' | translate }}</h3>

				<table class="profile">
					<tr>
						<td>{{ 'NAME' | translate }}:</td>
						<td>{{ name }}</td>
					</tr>
					<tr>
						<td>Mail:</td>
						<td>{{ email }}</td>
					</tr>
					<tr>
						<td>Ranking:</td>
						<td>
							{{ ranking }}
							<ion-spinner ng-if="ranking == ''"></ion-spinner>
						</td>
					</tr>
					<tr>
						<td>{{ 'ROUNDS' | translate }}:</td>
						<td>{{ rounds }}</td>
					</tr>
					<tr>
						<td>{{ 'FRIENDS' | translate }}:</td>
						<td>
							<ion-spinner ng-if="friends.length == 0"></ion-spinner>
							<div ng-repeat="friend in friends">{{ friend.name }}</div>
						</td>
					</tr>
				</table>
			
            </div>
        </div>
		
    </ion-content>
	
</ion-view>