<ion-view>
    <ion-content overflow-scroll="true" id="start-page" class="background2">
        <div class="padding">
		
			<div ng-include="'templates/includes/top-ad.html'"></div>

            <div id="main-content">
				
                <h3 class="title">Rangliste</h3>

				<select class="rank-list-type" ng-model="rankInput.ranking" ng-change="changeList()">
					<option value="friends">Venner</option>
					<option value="all">Alle</option>
				</select>
				
                <table class="rank-list">
                    <thead>
                        <tr>
                            <td style="width:15%;" colspan="2">Denne mdr.</td>
                            <td style="width:15%;">Sidste mdr.</td>
                            <td style="width:40%;">Navn</td>
                            <td style="width:15%;">Runder</td>
                            <td style="width:15%;">Score</td>
                        </tr>
                    </thead>

                    <tbody>
                        <tr ng-repeat="person in list track by $index">
                            <td>
								<i class="ion ion-chevron-right" ng-if="person.thisMonth == person.lastMonth"></i>
								<i class="ion ion-chevron-up balanced" ng-if="person.thisMonth > person.lastMonth"></i>
								<i class="ion ion-chevron-down assertive" ng-if="person.thisMonth < person.lastMonth"></i>
							</td>
                            <td>{{ person.thisMonth }}</td>
                            <td>{{ person.lastMonth }}</td>
                            <td><strong>{{ person.name }}</strong></td>
                            <td>{{ person.rounds }}</td>
                            <td>{{ person.score }}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
		
    </ion-content>
	
</ion-view>
