<ion-view>
    <ion-content overflow-scroll="true" id="start-page" class="background2">
        <div class="padding">
		
			<div ng-include="'templates/includes/top-ad.html'"></div>

            <div id="main-content">
				
                <h3 class="title">Rangliste</h3>

				<select class="rank-list-type" ng-model="ranking">
					<option value="mine-venner">Mine Venner</option>
					<option value="alle">Alle</option>
				</select>
				
                <table class="rank-list">
                    <thead>
                        <tr>
                            <td style="width:15%;" colspan="2">Denne mdr.</td>
                            <td style="width:15%;">Sidste mdr.</td>
                            <td style="width:40%;">Navn</td>
                            <td style="width:15%;">Runder</td>
                            <td style="width:15%;">Score</td>
                        </tr>
                    </thead>

                    <tbody>
                        <tr>
                            <td><i class="ion ion-chevron-right"></i></td>
                            <td>1</td>
                            <td>1</td>
                            <td><strong>Linda Gildberg</strong></td>
                            <td>32</td>
                            <td>8</td>
                        </tr>
                        <tr>
                            <td><i class="ion ion-chevron-up balanced"></i></td>
                            <td>2</td>
                            <td>4</td>
                            <td><strong>Jepser Holme</strong></td>
                            <td>31</td>
                            <td>12</td>
                        </tr>
                        <tr>
                            <td><i class="ion ion-chevron-down assertive"></i></td>
                            <td>3</td>
                            <td>2</td>
                            <td><strong>Ole Hansen</strong></td>
                            <td>31</td>
                            <td>14</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
		
    </ion-content>
	
</ion-view>
