<ion-view>
    <ion-content overflow-scroll="true" id="start-page" class="background2">
        <div class="padding">
		
			<div ng-include="'templates/includes/top-ad.html'"></div>

            <div id="main-content">
				
                <h3 class="title">Rangliste</h3>

				<select class="rank-list-type" ng-model="rankInput.ranking" ng-change="changeList()">
					<option value="friends">{{ 'FRIENDS' | translate }}</option>
					<option value="all">{{ 'RANK_LIST_ALL' | translate }}</option>
				</select>
				
                <table class="rank-list">
                    <thead>
                        <tr>
                            <td style="width:15%;" colspan="2">{{ 'RANK_LIST_THIS_MONTH' | translate }}</td>
                            <td style="width:15%;">{{ 'RANK_LIST_LAST_MONTH' | translate }}</td>
                            <td style="width:40%;">{{ 'NAME' | translate }}</td>
                            <td style="width:15%;">{{ 'ROUNDS' | translate }}</td>
                            <td style="width:15%;">Handicap</td>
                        </tr>
                    </thead>

                    <tbody>
                        <tr ng-repeat="person in list track by $index">
                            <td>
								<i class="ion ion-chevron-right" ng-if="person.rank_this_month == person.rank_last_month"></i>
								<i class="ion ion-chevron-up balanced" ng-if="person.rank_this_month > person.rank_last_month"></i>
								<i class="ion ion-chevron-down assertive" ng-if="person.rank_this_month < person.rank_last_month"></i>
							</td>
                            <td>{{ person.rank_this_month }}</td>
                            <td>{{ person.rank_last_month }}</td>
                            <td><strong>{{ person.name }}</strong></td>
                            <td>{{ person.rounds }}</td>
                            <td>{{ person.score | number }}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
		
    </ion-content>
	
</ion-view>
