<ion-view cache-view="false">
    <ion-content overflow-scroll="true" id="start-page" class="background4">
        <div class="padding">
		
			<div ng-include="'templates/includes/top-ad.html'"></div>

            <div id="main-content" class="final-score big-padding">
                <div class="final-score-content">
                    <p>{{ 'FINAL_SCORE_TOTAL' | translate }}</p`>

                    <h2>{{ totalScore | number }}</h2>

                    <p ng-if="status == 'non-registered'">
						{{ 'FINAL_SCORE_HANDICAP_UNREGISTERED' | translate }} : <b>{{ finalScore | number }}</b>
					</p>
                    <p ng-if="status == 'registered'">
						{{ 'FINAL_SCORE_HANDICAP_REGISTERED' | translate }} : <b>{{ finalScore | number }}</b>
					</p>
                </div>
				<!--
                <a class="button button-block level-button birdie" ng-if="status == 'registered'">
                    Se dit samlede Golf Regel Handicap
                </a>
				-->
                <a class="button button-block level-button birdie" ng-if="status == 'non-registered'" ui-sref="app.login">
                    {{ 'FINAL_SCORE_REGISTER' | translate }}
                </a>
                <a class="button button-block level-button eagle" ui-sref="app.start-game">
                    {{ 'FINAL_SCORE_NEW_GAME' | translate }}
                </a>
                <a class="button button-block level-button albatross" ng-click="inviteFriends()">
                    {{ 'FINAL_SCORE_INVITE' | translate }}
                </a>
            </div>
        </div>
		
    </ion-content>
	
</ion-view>
