<ion-view cache-view="false">
    <ion-content overflow-scroll="true" id="start-page">
        <div class="padding">
            <div class="row">
                <div class="col" id="top-sponsor">
                    <img ng-src="images/sponsor/sponsor-top-large.png" alt="Alternate Text" />
                </div>
            </div>

            <div id="main-content" ng-if="!toggleScoreCard">
                <h3 class="title">SPØRGSMÅL 1</h3>

                <p class="content question">{{ questions[questionIndex].question }}</p>

                <div ng-if="choosen == ''" style="padding-top: 10px;">
                    <h3 class="title">NIVEAU</h3>
                    <a href="#" class="button button-block level-button birdie" ng-click="chooseLevel('birdie')">
                        <img ng-src="images/level/birdie-large.png" alt="Alternate Text" />
                        <span>-1 Point</span>
                    </a>
                    <a href="#" class="button button-block level-button eagle" ng-click="chooseLevel('eagle')">
                        <img ng-src="images/level/eagle-large.png" alt="Alternate Text" />
                        <span>-2 Point</span>
                    </a>
                    <a href="#" class="button button-block level-button albatross" ng-click="chooseLevel('albatros')">
                        <img ng-src="images/level/albatros-large.png" alt="Alternate Text" />
                        <span>-3 Point</span>
                    </a>
                </div>

                <h3 class="title" ng-if="answer != ''">SVAR</h3>

                <div class="{{ choosen }} padding answer-content" ng-if="choosen != '' && answer == ''">
                    <img ng-src="images/level/birdie-large.png" alt="Alternate Text" />
					
                    <a href="#" class="button button-block answer-button" style="background-color: #EFECC6;" ng-click="chooseAnswer('correct')">
                        {{ questions[questionIndex].true_answer }}
                    </a>
					
                    <a href="#" class="button button-block answer-button" style="background-color: #F1EB9D;" ng-click="chooseAnswer('wrong')">
                        {{ questions[questionIndex].false_answer_1 }}
                    </a>
					
                    <a href="#" class="button button-block answer-button" style="background-color: #F1EB9D;" ng-click="chooseAnswer('wrong')" ng-if="choosen == 'eagle' || choosen == 'albatros'">
                        {{ questions[questionIndex].false_answer_2 }}
                    </a>
					
                    <a href="#" class="button button-block answer-button" style="background-color: #F1EB9D;" ng-click="chooseAnswer('wrong')" ng-if="choosen == 'albatros'">
                        {{ questions[questionIndex].false_answer_3 }}
                    </a>
					
                    <a href="#" class="button button-block answer-ads-button" style="background-color: #F3EA7B;" ng-if="choosen == 'birdie'">
                        <img ng-src="images/sponsor/ecco-small.png" alt="Alternate Text" class="ecco" />
                    </a>
					
                    <a href="#" class="button button-block answer-ads-button" style="background-color: #E6DB47;" ng-if="choosen == 'birdie' || choosen == 'eagle'">
                        <img ng-src="images/sponsor/nikegolf-small.png" alt="Alternate Text" class="nikegolf" />
                    </a>
                </div>
				
                <div class="padding correct" ng-if="answer == 'correct'">
                    <img ng-src="images/level/{{ choosen }}-large.png" alt="Alternate Text" />

                    <br />

                    <p>Korrekt svar</p>

                    <br />

                    <p>
                        1 Strafslag<br />Se mere i www.xx.xx<br />§ 8 stk 4
                    </p>

                    <a href="#" class="button button-stable" style="float: right;" ng-click="viewScoreChart()">Fortsæt</a>
                </div>

                <div class="padding wrong" ng-if="answer == 'wrong'">
                    <img ng-src="images/level/{{ choosen }}-large.png" alt="Alternate Text" />
                    <br />

                    <p>Forkert svar</p>

                    <br />

                    <p>Det korrekte svar er :</p>

                    <p>
                        1 Strafslag<br />Se mere i www.xx.xx<br />§ 8 stk 4
                    </p>

                    <a href="#" class="button button-stable" style="float: right;" ng-click="viewScoreChart()">Fortsæt</a>
                </div>
            </div>
			
            <div id="main-content" class="score padding" ng-if="toggleScoreCard">
                <h3 class="title">SCOREKORT</h3>
                <table style="width: 100%; margin-top: 10px;">
                    <thead>
                        <tr>
                            <td style="width:25%;">Spørgsmål</td>
                            <td style="width:50%;">Level</td>
                            <td style="width:25%;">Score</td>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="answer in answers">
                            <td>{{ $index + 1 }}</td>
                            <td>
                                <img ng-src="images/level/{{ answer.difficulty }}-large.png" alt="Alternate Text" />
                            </td>
                            <td>{{ answer.points }}</td>
                        </tr>
                    </tbody>
                </table>

                <a href="#" class="button button-stable" style="float: right; margin-top: 10px;" ng-click="nextQuestion()">Fortsæt</a>
            </div>
			
        </div>
    </ion-content>
</ion-view>