<ion-view cache-view="false" class="background{{ choosen == '' ? '3' : toggleScoreCard ? '2' : '5' }}">
    <ion-content overflow-scroll="true" id="start-page" delegate-handle="game">
        <div class="padding game">
		
			<div ng-include="'templates/includes/top-ad.html'"></div>
			
            <div id="main-content" ng-if="!toggleScoreCard">
			
				<h3 class="title" style="margin-top: 3px;">{{ 'GAME_QUESTIONS' | translate }}</h3>
                <p ng-if="questions[questionIndex].question.indexOf('youtube') == -1" class="content question">{{ questions[questionIndex].question }}</p>
				<iframe ng-if="questions[questionIndex].question.indexOf('youtube') > -1" src="{{ trustSrc(questions[questionIndex].question) }}" frameborder="0" allowfullscreen style="width: 100%;"></iframe>

                <div ng-if="choosen == ''" class="choose-difficulty">
				
					<h4>{{ 'GAME_CHOOSE_DIFFICULTY' | translate }}</h4>
					
                    <a class="button button-block level-button birdie" ng-click="chooseLevel('birdie')">
                        <img ng-src="images/level/birdie-large.png" alt="Alternate Text" />
                        <span>-1 Point</span>
                    </a>
                    <a class="button button-block level-button eagle" ng-click="chooseLevel('eagle')">
                        <img ng-src="images/level/eagle-large.png" alt="Alternate Text" />
                        <span>-2 Point</span>
                    </a>
                    <a class="button button-block level-button albatross" ng-click="chooseLevel('albatross')">
                        <img ng-src="images/level/albatross-large.png" alt="Alternate Text" />
                        <span>-3 Point</span>
                    </a>
					
					<div style="margin-top: 55px;"></div>
					
                </div>

                <div class="{{ choosen }} padding answer-content" ng-if="choosen != '' && answer == ''" style="padding: 5px;" ng-controller="AdsCtrl">
				
					<span class="hint" ng-click="useHint()">H<sup class="hint-count">{{ hints }}</sup></span>
					
                    <img ng-src="images/level/{{ choosen }}-large.png" alt="Alternate Text" style="height: 28px;" />
					
                    <div ng-if="choice != false" class="button button-block answer-button" ng-repeat="choice in choices track by $index" ng-click="chooseAnswer($index == correctAnswerIndex ? 'correct' : 'wrong')">
						<span ng-if="choice != false">{{ choice }}</span>
                    </div>
					
					<div ng-if="choice == false" class="answer-ads-button"  ng-repeat="choice in choices track by $index"   ng-bind-html="questionBanners()[$index]"></div>
					
                </div>
				
                <div class="correct-answer padding {{ answer }} {{ choosen }}" ng-if="answer != ''">
                    <img ng-src="images/level/{{ choosen }}-large.png" alt="Alternate Text" />

                    <br />

                    <h4 ng-if="answer == 'correct'">{{ 'GAME_CORRECT' | translate }}</h4>
                    <h4 ng-if="answer == 'wrong'">{{ 'GAME_WRONG' | translate }}</h4>
					
                    <p>{{ 'GAME_DECLARE_CORRECT' | translate }}:<br /> <strong>{{ questions[questionIndex].true_answer }}</strong></p>

					<p>{{ 'GAME_SEE' | translate }} {{ questions[questionIndex].rule }}</p>

					<div class="continue-button-container">
						<a class="button button-stable" ng-click="viewScoreChart()">{{ 'CONTINUE' | translate }} >>></a>
					</div>
                </div>
            </div>
		
			<div id="main-content" class="score padding" ng-if="toggleScoreCard">
			
				<h3 class="title">{{ 'GAME_SCORECARD' | translate }}</h3>
				<table class="scorecard">
					<thead>
						<tr>
							<td class="scorecard-side">{{ 'GAME_QUESTIONS' | translate }}</td>
							<td>Level</td>
							<td class="scorecard-side">Score</td>
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat="answer in answers" id="{{ answer.questionIndex }}">
							<td>{{ $index + 1 }}</td>
							<td style="text-align: left;">
								<img ng-src="images/level/{{ answer.difficulty }}-large.png" alt="Alternate Text" />
							</td>
							<td class="difficulty-shape {{ answer.answer }} {{ answer.difficulty }}">
								<span>{{ answer.outstandingPoints }}</span>
							</td>
						</tr>
						<tr ng-repeat="i in [] | range : 18 - answers.length" class="empty">
							<td>{{ $index + answers.length + 1 }}</td>
							<td>
							</td>
							<td></td>
						</tr>
					</tbody>
				</table>
				<!--
				<div class="continue-button-container">
					<a class="button button-stable" ng-click="nextQuestion()">Fortsæt >>></a>
				</div>
				-->
			</div>
			
        </div>
		
    </ion-content>
	
	<div class="bar bar-footer" style="background-color: transparent; height: 50px;" ng-if="toggleScoreCard">
		<a class="button next-question-button" ng-click="nextQuestion()" style="margin: 5px auto;">{{ 'CONTINUE' | translate }} >>></a>
	</div>
	
</ion-view>

