<ion-view cache-view="false">
    <ion-content overflow-scroll="true" id="start-page" style="background-image: url(../images/start-bottom-image-{{ choosen == '' ? '3' : toggleScoreCard ? '2' : 1 }}.png)">
        <div class="padding">
            <div class="row">
                <div class="col" id="top-sponsor">
                    <img ng-src="images/sponsor/sponsor-top-large.png" alt="Alternate Text" />
                </div>
            </div>

            <div id="main-content" ng-if="!toggleScoreCard">
			
				<span class="hint" ng-click="useHint()">H<sup class="hint-count">{{ hints }}</sup></span>
					
                <h3 class="qustion-number title">SPØRGSMÅL {{ questionIndex + 1 }}</h3>

                <p class="content question">{{ questions[questionIndex].question }}</p>

                <div ng-if="choosen == ''" style="padding-top: 10px;">
                    <h3 class="title">NIVEAU</h3>
                    <a href="#" class="button button-block level-button birdie" ng-click="chooseLevel('birdie')">
                        <img ng-src="images/level/birdie-large.png" alt="Alternate Text" />
                        <span>-1 Point</span>
                    </a>
                    <a href="#" class="button button-block level-button eagle" ng-click="chooseLevel('eagle')">
                        <img ng-src="images/level/eagle-large.png" alt="Alternate Text" />
                        <span>-2 Point</span>
                    </a>
                    <a href="#" class="button button-block level-button albatross" ng-click="chooseLevel('albatross')">
                        <img ng-src="images/level/albatross-large.png" alt="Alternate Text" />
                        <span>-3 Point</span>
                    </a>
                </div>

                <h3 class="title" ng-if="answer != ''">SVAR</h3>

                <div class="{{ choosen }} padding answer-content" ng-if="choosen != '' && answer == ''">
                    <img ng-src="images/level/{{ choosen }}-large.png" alt="Alternate Text" />
					
                    <a href="#" class="button button-block {{ choice != false ? 'answer-button' : 'answer-ads-button' }}" style="background-color: #EFECC6;" ng-repeat="choice in choices track by $index" ng-click="choice != false ? chooseAnswer($index == 0 ? 'correct': 'wrong') : false;">
						
						<span ng-if="choice != false">{{ choice }}</span>
                        <img ng-if="choice == false" ng-src="images/sponsor/ad-{{ $index }}.png" alt="Alternate Text" class="ad-{{ $index }}" />
                    </a>
					
                </div>
				
                <div class="padding {{ answer }}" ng-if="answer != ''">
                    <img ng-src="images/level/{{ choosen }}-large.png" alt="Alternate Text" />

                    <br />

                    <p>Korrekt svar</p>

                    <br />

                    <p ng-if="answer == 'wrong'">Det korrekte svar er :</p>

                    <p>
                        {{ questions[questionIndex].true_answer }}<br />Se mere i {{ questions[questionIndex].rule }}<br />
                    </p>

                    <a href="#" class="button button-stable" style="float: right;" ng-click="viewScoreChart()">Fortsæt</a>
                </div>
            </div>
			
            <div id="main-content" class="score padding" ng-if="toggleScoreCard">
                <h3 class="title">SCOREKORT</h3>
                <table style="width: 100%; margin-top: 10px;">
                    <thead>
                        <tr>
                            <td style="width:25%;">Spørgsmål</td>
                            <td style="width:50%;">Level</td>
                            <td style="width:25%;">Score</td>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="answer in answers">
                            <td>{{ $index + 1 }}</td>
                            <td>
                                <img ng-src="images/level/{{ answer.difficulty }}-large.png" alt="Alternate Text" />
                            </td>
                            <td>{{ answer.outstandingPoints }}</td>
                        </tr>
                    </tbody>
                </table>

                <a href="#" class="button button-stable" style="float: right; margin-top: 10px;" ng-click="nextQuestion()">Fortsæt</a>
            </div>
			
        </div>
    </ion-content>
</ion-view>