<ion-view>
    <ion-content overflow-scroll="true" id="start-page" class="background2" style="background-size: 100%;">
        <div class="padding">
		
			<div ng-include="'templates/includes/top-ad.html'"></div>

            <div id="main-content" class="padding">
                <h3 class="title">Sådan spiller du</h3>

                <ion-slide-box on-slide-changed="slideHasChanged($index)" style="margin-top: 10px;">
                    <ion-slide>
                        <img src="images/how-to-play-1.png" alt="Alternate Text" />
                    </ion-slide>
                    <ion-slide>
                        <img src="images/how-to-play-2.png" alt="Alternate Text" />
                    </ion-slide>
                </ion-slide-box>
            </div>
        </div>
		
    </ion-content>
	
</ion-view>