<ion-view>
    <ion-content overflow-scroll="true" id="start-page">
        <div class="padding">
            <div class="row">
                <div class="col" id="top-sponsor">
                    <img ng-src="images/sponsor/sponsor-top-large.png" alt="Alternate Text" />
                </div>
            </div>

            <div id="main-content">
				<!--TODO add to all text needing language-->
                <h1 class="header"><strong>{{ languageDictionary.TITLE }}</strong></h1>
                <p class="subheader">{{ languageDictionary.SUBTITLE }}</p>

                <a href="#" ui-sref="app.start-game" class="start-button">
                    &nbsp;{{ languageDictionary.NEW_GAME }}
                </a>
                <a href="#" ui-sref="app.how-to-play" class="start-button">
                    &nbsp;{{ languageDictionary.INSTRUCTIONS }}
                </a>
            </div>
        </div>
    </ion-content>
</ion-view>