<ion-view>
    <ion-content overflow-scroll="true" id="start-page" class="background0">
        <div class="padding">
	
			<div ng-include="'templates/includes/top-ad.html'"></div>
			
            <div id="main-content">
				<!--TODO add to all text needing language-->
                <h1 class="header">
					<strong>
						{{ 'WELCOME' | translate }} 
						<span class="title-appname">{{ 'APP_NAME' | translate }}</span>
					</strong>
				</h1>
                <p class="subheader">{{ 'SUBTITLE' | translate}}</p>

				<div class="start-screen-buttons-container">
				
					<table class="start-screen-buttons">
						<tr>
							<td>
								<a href="#" ui-sref="app.start-game">
									<img ng-src="images/new-game.png" />
								</a>
							</td>
							<td>
								<a href="#" ui-sref="app.start-game" style='font-size: 30px; font-weight: bold;'>
								{{ 'NEW_GAME' | translate }}
								</a>
							</td>
						</tr>
						<tr>
							<td>
								<a href="#" ui-sref="app.how-to-play">
									<img ng-src="images/how-to-play.png" />
								</a>
							</td>
							<td>
								<a href="#" ui-sref="app.how-to-play">
								{{ 'INSTRUCTIONS' | translate }}
								</a>
							</td>
						</tr>
					</table>
					
				</div>
				
            </div>
        </div>
		
    </ion-content>
	
</ion-view>