<ion-view>
    <ion-content overflow-scroll="true" id="start-page" class="background">
        <div class="padding">
            <div class="row">
                <div class="col" id="top-sponsor">
                    <img ng-src="images/sponsor/sponsor-top-large.png" alt="Alternate Text" />
                </div>
            </div>

            <div id="main-content">
				<!--TODO add to all text needing language-->
                <h1 class="header" ><strong>{{ 'TITLE' | translate }}</strong></h1>
                <p class="subheader">{{ 'SUBTITLE' | translate}}</p>

                <a href="#" ui-sref="app.start-game" class="start-button">
                    &nbsp;{{ 'NEW_GAME' | translate }}
                </a>
                <a href="#" ui-sref="app.how-to-play" class="start-button">
                    &nbsp;{{ 'INSTRUCTIONS' | translate }}
                </a>
            </div>
        </div>
    </ion-content>
</ion-view>