<ion-view>
    <ion-content overflow-scroll="true" id="start-page" class="background4">
        <div class="padding">
		
			<div ng-include="'templates/includes/top-ad.html'"></div>

            <div id="main-content" class="padding">
                <h3 class="title">Udfordre til match</h3>

                <table class="padding invite" style="width: 100%;">
					<tr>
						<td style="width: 80%; text-align: left;">Venner</td>
						<td style="width: 20%; text-align: center;">Score</td>
					</tr>
					<tr>
						<td>
							<!--ion-ios-circle-outline for unchecked-->
							<a class="button button-icon button-small icon ion-ios-checkmark-outline"></a>
							<span class="name">Franz Beckerlee</span>
						</td>
						<td><span class="score-area">54</span></td>
					</tr>
                </table>
				
				<div class="invite-options big-padding">
				
					<a href="#" class="button button-block">
						Inviter
					</a>
					
					<p>Eller inviter via email</p>
					
					<div class="row">
						<div class="col col-75">
								
							<div class="list list-inset">
								<label class="item item-input">
									<i class="icon ion-ios-email-outline placeholder-icon"></i>
									<input type="email" placeholder="email eller brugernavn">
								</label>
							</div>
							
						</div>
						<div class="col">
								
							<a href="#" class="button button-invite">
								send
							</a>
							
						</div>
					</div>
					
				</div>
				
            </div>
        </div>
		
    </ion-content>
	
</ion-view>

