<ion-view>
    <ion-content overflow-scroll="true" id="start-page" class="background4">
        <div class="padding">
		
			<div ng-include="'templates/includes/top-ad.html'"></div>

            <div id="main-content" class="padding">
                <h3 class="title">{{ 'INVITE_TITLE' | translate }}</h3>

                <table class="padding invite" style="width: 100%;">
					<tr>
						<td style="width: 80%; text-align: left;">{{ 'FRIENDS' | translate }}</td>
						<td style="width: 20%; text-align: center;">Score</td>
					</tr>
					<tr ng-repeat="person in friends track by $index">
						<td>
							<a class="button button-icon button-small icon" ng-class="person.include ? 'ion-ios-checkmark-outline' : 'ion-ios-circle-outline'" ng-click="toggleCheckbox($index)"></a>
							<span class="name">{{ person.name }}</span>
						</td>
						<td><span class="score-area">{{ person.score | number:1 }}</span></td>
					</tr>
                </table>
				
				<div class="invite-options big-padding">
				
					<a class="button button-block" ng-click="inviteFriends()">
						{{ 'INVITE' | translate }}
					</a>
					
					<p>{{ 'INVITE_VIA_EMAIL' | translate }}</p>
					
					<form name="frmInviteViaEmail">
						<div class="row">
							<div class="col col-75">
									
								<div class="list list-inset">
									<label class="item item-input" ng-class="frmInviteViaEmail.email.$invalid && frmInviteViaEmail.email.$dirty ? 'item-assertive' : ''">
										<i class="icon ion-ios-email-outline placeholder-icon"></i>
										<input type="email" name="email" placeholder="Email" ng-model="inviteForm.email">
									</label>
								</div>
								
							</div>
							<div class="col">
									
								<a class="button button-invite" ng-click="inviteViaEmail(frmInviteViaEmail)">
									{{ 'SEND' | translate }}
								</a>
								
							</div>
						</div>
					</form>
					
				</div>
				
            </div>
        </div>
		
    </ion-content>
	
</ion-view>

